body {
  overflow-x: hidden;  
  margin: 0;  
}

.mobileWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;  
  overflow: hidden;  
  box-sizing: border-box;  
}

@media (max-width: 600px) {
  .mobileWrapper {
    font-size: 3vw;  
    padding: 2vw;
    margin: 1vw;
  }
}
